---
# main

- name: install some packages
  yum:
    name:
      - iscsi-initiator-utils
      - socat
      - yum-utils
    state: latest

#- include: etcd.yml
#- include: docker.yml
#- include: cni.yml
#- include: kubelet.yml

- include: helm.yml
- include: kubectl.yml
