---
# main

- name: install some packages
  yum:
    name:
      - iscsi-initiator-utils
      - socat
    state: latest

- name: Create etcd script
  template:
    src: etcd.script.j2
    dest: /tmp/etcd.script
    owner: root
    group: root
    mode: 0755

- shell: /tmp/etcd.script
  register: etcd_shell_output

- set_fact:
    ETCD_ALL_CONTROLLERS: "{{ etcd_shell_output.stdout_lines[0] }}"
    ETCD_SERVERS: "{{ etcd_shell_output.stdout_lines[1] }}"
    CONTROLLER_NAMES: "{{ etcd_shell_output.stdout_lines[2] }}"

- debug:
    var: 
    - ETCD_ALL_CONTROLLERS
    - ETCD_SERVERS
    - CONTROLLER_NAMES

- include: etcd.yml




