apiVersion: v1
kind: Pod
metadata:
  name: kube-proxy
  namespace: kube-system
spec:
  hostNetwork: true
  containers:
  - name: kube-proxy
    image: quay.io/coreos/hyperkube:{{KUBE_IMAGE_TAG}}
    imagePullPolicy: IfNotPresent
    command:
    - /hyperkube
    - proxy
    - --cluster-cidr={{KUBE_CLUSTER_SUBNET}}
    - --masquerade-all=true
    - --kubeconfig={{KUBE_CERT_PATH}}/kube-proxy.kubeconfig
    - --proxy-mode=iptables
    securityContext:
      privileged: true
    volumeMounts:
    - mountPath: {{KUBE_CERT_PATH}}
      name: ssl-certs-kubernetes
      readOnly: true
    - mountPath: /etc/ssl/certs
      name: ssl-certs-host
      readOnly: true
  volumes:
  - hostPath:
      path: {{KUBE_CERT_PATH}}
    name: ssl-certs-kubernetes
  - hostPath:
      path: /usr/share/ca-certificates
    name: ssl-certs-host